[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MikhailLU
[access "refs/for/refs/*"]
	read = group user/MikhailLU
	push = group user/MikhailLU
	label-Code-Review = -2..+2 group user/MikhailLU
	label-Verified = -1..+1 group user/MikhailLU
	rebase = group user/MikhailLU
	removeReviewer = group user/MikhailLU
	submit = group user/MikhailLU
[access "refs/heads/*"]
	read = group user/MikhailLU
	create = group user/MikhailLU
	push = +force group user/MikhailLU
	pushMerge = group user/MikhailLU
[access "refs/tags/*"]
	push = +force group user/MikhailLU
	pushTag = group user/MikhailLU
	pushSignedTag = group user/MikhailLU
